In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Spacex.csv')
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,4/6/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,8/12/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,8/10/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,1/3/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing _Outcome   101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [4]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True)

In [5]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [7]:
df.to_csv('Spacex.csv', index = False)

In [11]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

In [16]:
df[df['Launch_Site'].str.contains('CCA')].head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [26]:
df[df['Customer'] == 'NASA (CRS)']['PAYLOAD_MASS__KG_'].sum()

45596

In [31]:
df[df['Booster_Version'] == 'F9 v1.1']['PAYLOAD_MASS__KG_'].mean()

2928.4

In [36]:
df[df['Landing _Outcome'] == 'Success (ground pad)'].sort_values(by = ['Date'])['Date'].head(1)

19   2015-12-22
Name: Date, dtype: datetime64[ns]

In [38]:
df[(df['Landing _Outcome'] == 'Success (drone ship)') & (df['PAYLOAD_MASS__KG_'] > 4000) & (df['PAYLOAD_MASS__KG_'] < 6000)]['Booster_Version']

23       F9 FT B1022
27       F9 FT B1026
31    F9 FT  B1021.2
42    F9 FT  B1031.2
Name: Booster_Version, dtype: object

In [39]:
df['Mission_Outcome'].value_counts()

Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: Mission_Outcome, dtype: int64

In [51]:
df[df['PAYLOAD_MASS__KG_'] == df['PAYLOAD_MASS__KG_'].max()]['Booster_Version']

74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

In [60]:
df1 = df[df['Landing _Outcome'] == 'Failure (drone ship)'][['Date', 'Booster_Version', 'Launch_Site', 'Landing _Outcome']]
df1

         Date Booster_Version  Launch_Site      Landing _Outcome
13 2015-01-10   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
16 2015-04-14   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)
20 2016-01-17   F9 v1.1 B1017  VAFB SLC-4E  Failure (drone ship)
21 2016-03-04     F9 FT B1020  CCAFS LC-40  Failure (drone ship)
25 2016-06-15     F9 FT B1024  CCAFS LC-40  Failure (drone ship)

In [67]:
df1[df1['Date'].dt.year == 2015]

         Date Booster_Version  Launch_Site      Landing _Outcome
13 2015-01-10   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
16 2015-04-14   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

In [78]:
df[(df['Date'] > '2010-06-04') & (df['Date'] < '2017-03-20')].groupby('Landing _Outcome')['Landing _Outcome'].value_counts().sort_values(ascending = False)

Landing _Outcome        Landing _Outcome
No attempt              No attempt                10
Failure (drone ship)    Failure (drone ship)       5
Success (drone ship)    Success (drone ship)       5
Controlled (ocean)      Controlled (ocean)         3
Success (ground pad)    Success (ground pad)       3
Uncontrolled (ocean)    Uncontrolled (ocean)       2
Failure (parachute)     Failure (parachute)        1
Precluded (drone ship)  Precluded (drone ship)     1
Name: Landing _Outcome, dtype: int64